@model CoffeeBlend.Web.ViewModels.BlogViewModel.BlogListViewModel
@{
    this.ViewData["Title"] = "Blogs page" + Model.PageNumber;
}

<section class="home-slider owl-carousel">

    <div class="slider-item" style="background-image: url(/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">

                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Blog</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></span> <span>Blog</span></p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            @foreach (var blog in this.Model.Blogs)
            {
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <h3 class="heading mt-2">@blog.Title</h3>
                        <a asp-action="Details" asp-route-id="@blog.Id"><img class="block-20" src="@blog.ImageUrl" alt="" /></a>
                        <div class="text py-4 d-block">
                            <div class="meta">
                                <div class="icon-calendar"> @blog.CreatedOn.ToShortDateString()</div>
                                <div class="icon-person">@blog.AuthorName</div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span>@blog.Comments.Count</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <partial name="_PagingPartial" model="@Model"/>
    </div>
</section>
