@model CoffeeBlend.Web.ViewModels.ProductsViewModels.RelatedProductsViewModel

<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-3 text-center">
            <div class="menu-entry">
                <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id"><img class="block-20" src="@product.ImageUrl" alt="" /></a>
                <div class="text text-center pt-4">
                    <h3><a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h3>
                    <p class="price"><span>$@product.Price</span></p>
                    <p><a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary btn-outline-primary">Add to Cart</a></p>
                </div>
            </div>
        </div>
    }
</div>